In [1]:
# Import the dataset 

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
dataset= pd.read_csv('titanic-passengers.csv',delimiter=",")
dataset.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [2]:
#What are the missing data? 

dataset.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [3]:
#Replacing the Age missing values in the dataset by the mean Age

dataset['Age'].fillna(dataset['Age'].mean(), inplace=True)
dataset.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [4]:
#Deleting all the missing values of Cabin in the dataset

dataset.dropna(axis=1, how='any', thresh=300, inplace=True)
dataset.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       2
dtype: int64

In [5]:
#Replacing the Embarking zone missing values in the dataset by the most frequent one 'S'

dataset["Embarked"].fillna('S',inplace=True )
dataset.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64

In [6]:

dataset['Sex'].replace(to_replace = ['male', 'female'], value =[1,0], inplace=True)
dataset.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",1,22.0,1,0,A/5 21171,7.2500,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,PC 17599,71.2833,C
2,3,1,3,"Heikkinen, Miss. Laina",0,26.0,0,0,STON/O2. 3101282,7.9250,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,1,0,113803,53.1000,S
4,5,0,3,"Allen, Mr. William Henry",1,35.0,0,0,373450,8.0500,S

In [53]:
# Create the decision tree and calculate its accuracy 

from sklearn.model_selection import train_test_split
from sklearn import tree
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

#Features extraction
x=dataset.drop(["Survived", "Name", "Ticket", "Embarked"], axis=1)
y= dataset["Survived"]

#Splitting data with test size of 20%
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.20,random_state=10) 

#Applying tree algorithm
tree = tree.DecisionTreeClassifier(max_depth=3,criterion='entropy')
tree.fit(x_train, y_train) 
#Fitting our model
y_pred=tree.predict(x_test) 
#Evaluating our model
print("score:{}".format(accuracy_score(y_test, y_pred)))

score:0.7597765363128491

In [54]:
#Plot the decision tree ?


import graphviz
dot_data = tree.export_graphviz(tree, out_file=None, filled=True)
graph = graphviz.Source(dot_data)
graph.render("data")
graph

AttributeError: 'DecisionTreeClassifier' object has no attribute 'export_graphviz'

In [ ]:
#Change the decision tree parameters

from sklearn.model_selection import train_test_split
from sklearn import tree
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

tree = tree.DecisionTreeClassifier(max_depth=6,criterion='entropy')
tree.fit(x_train, y_train) 
#Fitting our model
y_pred=tree.predict(x_test) 
#Evaluating our model
print("score:{}".format(accuracy_score(y_test, y_pred)))

In [ ]:
#Change the decision tree parameters, again

from sklearn.model_selection import train_test_split
from sklearn import tree
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

tree = tree.DecisionTreeClassifier(max_depth=20,criterion='entropy')
tree.fit(x_train, y_train) 
#Fitting our model
y_pred=tree.predict(x_test) 
#Evaluating our model
print("score:{}".format(accuracy_score(y_test, y_pred)))

In [ ]:
# Conclusion = the Accuracy score seems to decrease when the max depth (maximum number of nodes in each branch) is higher.

In [20]:
# Random forest creation

from sklearn import datasets
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier #Importing Random Forest Classifier
from sklearn import metrics  # Importing metrics to test accuracy

clf=RandomForestClassifier(n_estimators=10) #Creating a random forest with 100 decisiontrees
clf.fit(x_train, y_train) #Training our model
y_pred=clf.predict(x_test) #testing our model
print("Accuracy:", metrics.accuracy_score(y_test, y_pred)) #Measuring the accuracy of our model

Accuracy: 0.8603351955307262

In [22]:
# Change the number of the estimators of the Random forest

from sklearn import datasets
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier #Importing Random Forest Classifier
from sklearn import metrics  # Importing metrics to test accuracy

clf=RandomForestClassifier(n_estimators=100) #Creating a random forest with 100 decisiontrees
clf.fit(x_train, y_train) #Training our model
y_pred=clf.predict(x_test) #testing our model
print("Accuracy:", metrics.accuracy_score(y_test, y_pred)) #Measuring the accuracy of our model

Accuracy: 0.8435754189944135

In [ ]:
# The number of estimators modifies the accuracy of the random forest.
# A foctor 10 multiplication of the initial estimators number generated a weaker accuracy.